.post-page{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    align-content: center;
    list-style: none;
    padding-left: 1em;
    border-radius: 3px;
    background: white;    
}

.post-page h2{
   margin-bottom: 0; 
}

.post-page #date{
    font-size: small;
}

.post-page #text{
    margin-top: 2em;
    margin-bottom: 3em;
}

.disqus{
    width: 94%;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    background-color: white;
}
