.title {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	font: normal 42px/normal "Anton", Helvetica, sans-serif;
	background-color: white;
	text-align: center;
	text-transform: uppercase;
	-o-text-overflow: clip;
	text-overflow: clip;
	letter-spacing: 10px;
	text-shadow: 3px 3px 0 rgb(238,238,238) , 4px 4px 0 rgb(112,112,112);
	color: black;
}

.title a {
    text-decoration: none;
	color: black;
    outline: 0;
}
